
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div id="demo-2" class="page-content">
    <div class="dotts">
        <div class="header-top">
            <header>
                <div class="top-head ml-lg-auto text-center">
                    <div class="row top-vl">

                        <div class="col-md-4">
                            <span>Welcome Back!</span>
                        </div>
                        <div class="col-md-3 sign-btn">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="fas fa-lock"></i> Sign In
                            </a>
                        </div>
                        <div class="col-md-3 sign-btn">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter2">
                                <i class="far fa-user"></i> Register
                            </a>
                        </div>
                        <div class="search col-md-2">
                            <div class="mobile-nav-button">
                                <button id="trigger-overlay" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <!-- open/close -->
                            <div class="overlay overlay-door">
                                <button type="button" class="overlay-close">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                <form action="#" method="post" class="d-flex">
                                    <input class="form-control" type="search" placeholder="Search here..." required="">
                                    <button type="submit" class="btn btn-primary submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </form>
                            </div>
                            <!-- open/close -->
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                                <i class="fab fa-codepen"></i> Replenish
                            </a>
                        </h1>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class="fas fa-bars"></i>
                        </span>

                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">
                                    Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("How", "Home")">How it works</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="@Url.Action("CandidatesList", "Home")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Candidates
                                    <i class="fas fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("CandidatesList", "Home")">Candidates</a>
                                    <a class="dropdown-item" href="#" title="">Candidates List 1</a>
                                    <a class="dropdown-item" href="#" title="">Candidates List 2</a>
                                    <a class="dropdown-item" href="#" title="">Candidates List 3</a>
                                    <a class="dropdown-item" href="#" title="">Candidates Single 1</a>


                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Pricing", "Home")">Pricing</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="@Url.Action("EmployerList", "Home")" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Employers
                                    <i class="fas fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("EmployerList", "Home")"> Employer List 1</a>
                                    <a class="dropdown-item" href="@Url.Action("EmployerList", "Home")">Employer List 2</a>
                                    <a class="dropdown-item" href="@Url.Action("EmployerList", "Home")">Employer List 3</a>
                                    <a class="dropdown-item" href="@Url.Action("EmployerList", "Home")">Employer List 4</a>
                                    <a class="dropdown-item" href="@Url.Action("EmployerList", "Home")">Employer Single 1</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </header>
        </div>
        <!--/banner-info-w3layouts-->
        <div class="banner-info-w3layouts text-center">
        </div>
        <!--//banner-info-w3layouts-->
    </div>
</div>
<ol class="breadcrumb justify-content-left">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li class="breadcrumb-item active">Pricing Plans</li>
</ol>
<!-- banner-text -->
<!-- plans -->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <!---728x90--->
            <h3 class="tittle text-center mb-lg-5 mb-3">
                <span>Our Packeges</span>Pricing Plans
            </h3>
            <!---728x90--->
            <div class="card-deck text-center row mt-5">
                <div class="price-info-grid col-lg-3">
                    <div class="price-inner">
                        <div class="price-header">
                            <h4>Small Business</h4>
                        </div>
                        <div class="price-body">
                            <h5 class="pricing-title">
                                <span class="dolor">$</span> 789.00

                            </h5>

                            <ul class="list-unstyled mt-3 mb-4">
                                <li class="py-2 border-bottom">2 Employees</li>
                                <li class="py-2 border-bottom">1 Month</li>
                                <li class="py-2 border-bottom">1000 Munt</li>
                                <li class="py-2 border-bottom">2 featured job</li>
                                <li class="py-2">-</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModalCenter2">
                                <i class="far fa-user"></i> Get Started
                            </a>
                        </div>
                    </div>
                </div>
                <div class="price-info-grid col-lg-3 my-lg-0 my-3">
                    <div class="price-inner">
                        <div class="price-header">
                            <h4>Medium Business</h4>
                        </div>
                        <div class="price-body">
                            <h5 class="pricing-title">
                                <span class="dolor">$</span>1089.00

                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li class="py-2 border-bottom">5 Employees</li>
                                <li class="py-2 border-bottom">2 Month</li>
                                <li class="py-2 border-bottom">2000 Munt</li>
                                <li class="py-2 border-bottom">8 featured job</li>
                                <li class="py-2">-</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModalCenter2">
                                <i class="far fa-user"></i> Get Started
                            </a>
                        </div>
                    </div>
                </div>
                <div class="price-info-grid col-lg-3">
                    <div class="price-inner">
                        <div class="price-header">
                            <h4>Big Business</h4>
                        </div>
                        <div class="price-body">
                            <h5 class="pricing-title">
                                <span class="dolor">$</span>2189.00

                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li class="py-2 border-bottom">10 Employees</li>
                                <li class="py-2 border-bottom">3 Month</li>
                                <li class="py-2 border-bottom">4000 Munt</li>
                                <li class="py-2 border-bottom">12 featured job</li>
                                <li class="py-2">-</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModalCenter2">
                                <i class="far fa-user"></i> Get Started
                            </a>
                        </div>
                    </div>
                </div>
                <div class="price-info-grid col-lg-3">
                    <div class="price-inner">
                        <div class="price-header">
                            <h4>Corporation</h4>
                        </div>
                        <div class="price-body">
                            <h5 class="pricing-title">
                                <span class="dolor">$</span>3769.00

                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li class="py-2 border-bottom">20 Employees</li>
                                <li class="py-2 border-bottom">4 Month</li>
                                <li class="py-2 border-bottom">8000 Munt</li>
                                <li class="py-2 border-bottom">22 featured job</li>
                                <li class="py-2">-</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModalCenter2">
                                <i class="far fa-user"></i> Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //plans -->
<!-- plans -->
<section class="banner-bottom-wthree bg-light py-lg-5 py-3">
    <div class="container">
        <!---728x90--->
        <div class="inner-sec-w3ls py-md-5 py-3">
            <div class="card-deck text-center row ">
                <div class="price-info-grid col-lg-4">
                    <div class="price-inner">
                        <div class="price-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="price-body">
                            <h5 class="pricing-title text-left">
                                <span class="dolor">$</span> 79.00

                            </h5>

                            <p class="p-dis text-left my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore.</p>
                            <a href="#" class="btn btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModalCenter2">
                                <i class="far fa-user"></i> Get Started
                            </a>
                        </div>
                    </div>
                </div>
                <div class="price-info-grid col-lg-4 my-lg-0 my-3">
                    <div class="price-inner">
                        <div class="price-header">
                            <h4>Standard</h4>
                        </div>
                        <div class="price-body">
                            <h5 class="pricing-title text-left">
                                <span class="dolor">$</span>189.00
                            </h5>
                            <p class="p-dis text-left my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore.</p>
                            <a href="#" class="btn btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModalCenter2">
                                <i class="far fa-user"></i> Get Started
                            </a>
                        </div>
                    </div>
                </div>
                <div class="price-info-grid col-lg-4">
                    <div class="price-inner">
                        <div class="price-header">
                            <h4>Gold</h4>
                        </div>
                        <div class="price-body">
                            <h5 class="pricing-title text-left">
                                <span class="dolor">$</span>89.00

                            </h5>
                            <p class="p-dis text-left my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore.</p>
                            <a href="#" class="btn btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModalCenter2">
                                <i class="far fa-user"></i> Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //plans2 -->
<!--footer -->

